<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newspaper Clustering</title>
</head>
<style>
    .links line {
      stroke: #999;
      stroke-opacity: 0.6;
    }

    .nodes circle {
      stroke: #fff;
      stroke-width: 1.5px;
        z-index: 9998;
    }

    .node text {
      pointer-events: none;
      font: 10px sans-serif;
        z-index: 9999;
    }
</style>

<body>

<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<form id='inputs' class="inputs">
<label for="startDate">Start Date: </label> <input type='text' size='30' id='startDate'>
<label for="endDate">End Date: </label> <input type='text' size='30' id='endDate'>
<button id="submit">Submit</button>
</form>

<svg width="960" height="600"></svg>

<script type=text/javascript src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type=text/javascript src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>