<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newspaper Clustering</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<form id='inputs' class="inputs">
<label for="startDate">Start Date: </label> <input type='text' size='30' id='startDate'>
<label for="endDate">End Date: </label> <input type='text' size='30' id='endDate'>
<button id="submit">Submit</button>
</form>

<img class="loading" src="{{ url_for('static', filename='balls.svg') }}">
<div class="loading msg">Cutting out newspaper articles</div>
<div class="loading msg">Arranging articles</div>
<div class="loading msg">Making newspaper hats</div>
<div class="loading msg">Clustering articles</div>
<div class="loading msg">Gluing articles together</div>

<svg></svg>

<script type=text/javascript src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='d3.v4.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>